
.modal-dialog {
      max-width: 1400px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:0px;
  top:0;
  z-index:999;
  color:#ffffff;
  opacity:1;
}


#heading {
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}

#status {
	text-align: center;
	display: inline-block;
	padding-right:100px;
}

#logo {
	float: left;
	padding-top: 10px;
}

#dropdownMenu {
	padding-left: 30px;
	padding-right: 30px;
}

#centralArea {
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	height: 400px;
	text-align: center;
	display: inline-flex;
	width: 100%;
}

#scatterPlotArea {
	float: left;
	height: 100%;
	width:33%;
}

#mainVideo {
	float: left;
	height: 100%;
	width: 33%;
	min-width: 360px;
}

#patternMatchingArea {
	float: left;
	height: 100%;
	width: 33%;
}

.display {
    color: #17D4FE;
    font-size: 32px;
    font-family: Orbitron;
	letter-spacing: 7px;

}

